@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,900&family=Rubik:wght@600&display=swap');/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

:root{
  --first-color: #ffffff;
  --second-color: #87bb80;
  --third-color:#424242;
}

:root{
  --body-font: 'Rubik', serif;;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  box-sizing: border-box;
}
h1,h2,p{
  margin: 0;
}
.about-container{
    margin: 30px 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--second-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*==NAV==*/
.bg-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.Nav-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px){
  .nav--menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav--item{
  margin-bottom: var(--mb-4);
}
.nav--link{
  position: relative;
  color: #fff;
}
.nav--link:hover{
  position: relative;
}
.nav--link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}
.nav--logo{
  color: var(--second-color);
}
.nav--toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}
    

  /* ===== FOOTER =====*/
.footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
  }
  .other-details{
    display: flex;
  }
 .other-details .details{
   width: 33%;
   font-size: 0.75rem;
 }
 .disclaimer{
   margin-top: 20px;
 }
 .disclaimer a{
   position: absolute;
  margin-top: 10px;
  font-size: 0.65rem;
  left: 0;

}
.img-container{
  width: 100%;
  height: 100%;
}
.img-container .img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.first-img{
 margin-top: 50px;
 background-color: rgb(6, 6, 75);
 text-transform: uppercase;
 color: #fff;
}
.second-img{
  color: var(--third-color);

}
.img-container .img img{
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.img-container .text{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transform: translateY(-100px);
}

.video-box{
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: rgb(235, 235, 235);
}
.video-box .video{
  width:100%;
  height: 100%;
  clip-path: polygon(0 0, 86% 0, 94% 100%, 0 100%);}
.video-box:nth-child(odd) .video{
  clip-path: polygon(3% 0, 100% 0, 100% 100%, 10% 100%);
}
  
.video-box .text{
  text-align: center;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  color: #51744d;
  width: 85%;
  }

.underc-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.underc-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--mb-6);
    }
    .section-title::after{
      width: 80px;
      top: 3rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 1rem);
    }
    .nav--list{
      display: flex;
      padding-top: 0;
    }
    .nav--item{
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav--toggle{
      display: none;
    }
    .nav--link{
      color: var(--second-color);
    }
    .active::after{
      background-color: var(--second-color);
    }
  
  
  }
  
  @media screen and (min-width: 1024px){
    .bg-grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home--img{
      right: 10%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .video-box{
      flex-direction: column;
      margin-bottom: 80px;
      background-color: #fff;
    }
    .video-box:nth-child(odd){
      flex-direction: column-reverse;
    }

    .video-box .video{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .video-box:nth-child(odd) .video{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
    .video-box .text{
      width: 100%;
    }
    .underc-img img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 100%;
    }
  }
  